<%- include ("../partials/header") %>
    <%- include ("../partials/sideMenu") %>
  <div class="body-container">
      <u> <h1>Insurance Companys</h1> </u>
      <section class="default-section">
          <div class="information">
              <select name="nameofinsurancescompanys" onchange="location = `/company/${this.value}`">
                    <% insurancesNames.forEach(function (name) {  %> 
                       <% if(insurance && insurance.insurance_name === name) {%>
                        <option selected value="<%= name %>"><%= name %></option>
                        <% } else { %>
                            <option value="<%= name %>"><%= name %></option>
                        <% } %>
                <% }) %>
            </select>
              </div>
      </section> 
      <section class="default-section">
          <% if (messages.error) { %>
            <p class="alert alert-error"><%= messages.error%></p>
            <% }%>
            <% if (messages.success) { %>
                <p class="alert alert-success"><%= messages.success%></p>
                <% }%>
      </section>
      <section class="default-section">
          <% if(insurance) { %>
            <div class="info-section">
                <div class="info-item">
                    <img src="/public/images/name.png" alt= "Avatar"> 
                    <span> <%= insurance.insurance_name %> </span>
                </div>
                <div class="info-item">
                    <img src="/public/images/address.png" alt= "Avatar"/>
                    <span> <%= insurance.address %> </span>
                </div>
                <span class="horizintal-line"></span>
                <div class="info-item">
                    <img src="/public/images/phone.png" alt= "Avatar">  
                    <span><%= insurance.insurance_phone %></span>
                </div>
                <div class="info-item">
                    <img src="/public/images/email.png" alt= "Avatar">
                    <span><%= insurance.email %></span>
                </div>
                <span class="horizintal-line"></span>
               
              <form method="POST" action="/company/message">
                <p style=" width: 20%;
                padding: 12px;
                border: 1px solid rgb(24, 23, 23);
                border-radius: 20px;
                box-sizing: border-box;
                color: black;
                background-color: #5a5959;
                margin-top: 6px;
                margin-bottom: 16px;">  Send Message </p><br> 
                <input hidden required name="insurance_phone" value="<%= insurance.insurance_phone %>"/>
                <input hidden required name="insurance_name" value="<%= insurance.insurance_name %>"/>
                  <textarea  style="height:150px ;width:700px" required name="message" id="message">  write the massage....</textarea> 
                  <input type ="submit" value="send" style="border-radius: 20px; color: blue; width: 70px; height: 40px;"/>
              </form>
          <% } else { %>
            <p>No Selected Insurance Company to show</p>
            <% } %>
      </section>
  </div>
</div>

  </body>
</html>